.EditorConsole {
	border-top: solid 2px var(--space-cadet);
	padding: 10px;
	color: var(--white);
}

.EditorConsole__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.EditorConsole__body {
	padding: 20px 0;
	max-width: 1200px;
	overflow-x: auto;
}
